{% extends 'base.html' %}

{% block body%}
<div class="container mt-5 " style="width: 400px; height:800px" >

    <div class="row ">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2 rounded">
                <div class="container_login_img mb-2">
                <img src="static/img/vrf.png" alt="logo" height="70">
                </div>
                {{ form_login.csrf_token }}
                <legend class="txtlogin"> Fazer login</legend>
                    <fieldset>
                      <div Class="form-group">
                         {{ form_login.email.label(class="form-control-label") }}
                          {% if form_login.email.errors %}
                             {{ form_login.email(class="form-control is-invalid")  }}
                          <div class="invalid-feedback">
                                {%for erro in form_login.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                          </div>
                          {% else %}
                            {{ form_login.email(class="form-control")  }}
                          {% endif %}

                      </div>
                      <div Class="form-group">
                         {{ form_login.senha.label(class="form-control-label") }}
                          {% if form_login.senha.errors %}
                             {{ form_login.senha(class="form-control is-invalid")  }}
                          <div class="invalid-feedback">
                                {%for erro in form_login.senha.errors %}
                                    {{ erro }}
                                {% endfor %}
                          </div>
                          {% else %}
                            {{ form_login.senha(class="form-control")  }}
                          {% endif %}
                      </div>
                      <div Class="form-group">
                          {{ form_login.lembrar_dados.label(class="form=check-label") }}
                          {{ form_login.lembrar_dados(class="form=check-input") }}
                      </div>
                         {{ form_login.botao_submit_login(class="btn btn-dark mt-2 w-100") }}
                    </fieldset>

             </form>
        </div>
    </div>
</div>

{% endblock %}
